name: Tests
on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.22

      - name: Build
        run: make build

      - name: Test
        run: go test -v ./...
        env:
          TF_ACC: 'true'
          FIREHYDRANT_API_KEY: ${{ secrets.FIREHYDRANT_API_KEY }}
          EXISTING_USER_EMAIL: 'ops+terraform-ci@firehydrant.io'
